/* BlogPostForm.css */
.blog-post-form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  margin: -191px 100px 25px -2rem;
  animation: fade-in 0.5s ease-in-out; /* Animation effect */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 0px 0 0 -10px
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transition effect */
}

.submit-button:hover {
  background-color: #0056b3;
}

/* BlogPostForm.css */
/* ... (your existing styles) */

.close-button {
  background-color: #dc3545; /* Red color */
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  background-color: #c82333; /* Darker red color on hover */
}


/* Animation Keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .blog-post-form {
    width: 90%;
  }
}
